<div class="container-l" style='margin: 30px'>
    <%= form_with(model: @task) do |f| %>
        <div class="form-group mb-3">
            <%= f.label :title %>
            <%= f.text_area :title, class: "form-control", required: true %>
        </div>

        <div class="form-group mb-3">
            <%= f.label :description %>
            <%= f.text_area :description, class: "form-control", required: true %>
        </div>

        <div class="form-group mb-3">
            <%= f.label :priority %>
            <%= f.collection_select :priority, [['LOW','LOW'], ['MEDIUM','MEDIUM'], ['HIGH','HIGH']], :first, :last, {prompt: "Select a Priority Level"},class: "form-control", required: true %>
        </div>

        <div class="form-group mb-3">
            <%= f.label :custom_attributes %>
            <%= f.text_area :custom_attributes, class: "form-control"%>
        </div>

        <div class="form-group mb-3">
            <% if user_signed_in? %>
                <%= f.hidden_field :user_id, value: current_user.id %>
            <% else %>
                <%= f.label :Informer %>
                <%= f.collection_select :user_id, User.all, :id, :name, {prompt: "Select an Informer"}, {class: "form-control"} %>
            <% end %>
        </div>

        <div class="form-group mb-3">
                <%= f.label :Asignee %>
                <% asignees = [] %>
                <% asignee_names = [] %>
                <% UserToBoard.where(user_id:current_user.id).each do |usertoboard| %>
                    <% UserToBoard.all.each do |usertoboard2| %>
                        <% if usertoboard.board_id == usertoboard2.board_id %>
                            <% unless asignee_names.include?(usertoboard2.user.name) %>
                                <% asignee_names << User.find(usertoboard2.user_id).name %>
                                <% asignees << User.find(usertoboard2.user_id) %>
                            <% end %>
                        <% end %>
                    <% end %>
                <% end %>
                <%= f.collection_select :asignee_task_id, asignees, :id, :name, {prompt: "Select an Assignee"}, {class: "form-control"} %>
        </div>
        
        <% if @state.present? %>
            <%= f.hidden_field :state_id, value: @state.id%>
        <% else %>
            <div class="form-group mb-3">
                <% if @boards.present? %>
                    <%= f.hidden_field :state_id, value: @state.id%>
                <% else %>
                    <%= f.label :state_id %>
                    <% boards = [] %>
                    <% UserToBoard.where(user_id:current_user.id).each do |usertoboard| %>
                        <% UserToBoard.all.each do |usertoboard2| %>
                            <% if usertoboard.board_id == usertoboard2.board_id %>
                                <% unless asignees.include?(usertoboard2.board_id) %>
                                    <% boards << Board.find(usertoboard2.board_id) %>
                                <% end %>
                            <% end %>
                        <% end %>
                    <% end %>
                    <% states = [] %>
                    <% State.all.each do |st| %>
                        <% boards.each do |brd| %>
                            <% if st.board == brd %>
                                <% unless states.include?(st) %>
                                <% states << st %>
                                <% end %>
                            <% end %>
                        <% end %>
                    <% end %>
                    <%= f.collection_select :state_id, states, :id, :name_with_board, {prompt: "Select a State"}, {class: "form-control"} %>
                <% end %>
            </div>
        <% end %>
        <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
</div>
