<style>
    .container {
        margin-top: 30px;
    }
    .card {
        margin-bottom: 20px;
    }
</style>
<div class="container-fluid">
    <h1 class="text-center">Welcome to your Tasks</h1>
</div>
<% if flash[:notice] %>
    <div class="container">
        <div class="alert alert-success">
            <%= flash[:notice] %>
        </div>
    </div>
<% end %>
<div class="container">
    <div class="row">
        <% @tasks.each do |task| %>
            <% @user_board.where(board_id:task.state.board).each do |usertoboard| %>
                <% if current_user.id == usertoboard.user_id %>
                    <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-header bg-info text-white">
                                    <h5 class="card-title"><%= task.title %></h5>
                                </div>
                                <p class="card-text"><strong>State:</strong> <%= task.state.name %></p>
                                <p class="card-text"><strong>Board:</strong> <%= task.state.board.title %></p>
                                <a href="<%= task_path(task) %>" class="btn btn-info">View Task</a>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    </div>
    <div class="row mt-4">
        <div class="col-12 text-center">
            <%= link_to 'Back To Homepage', root_path, class: 'btn btn-secondary mr-2' %>
            <%= link_to 'Task Creator', new_task_path, class: 'btn btn-primary' %>
        </div>
    </div>
</div>
