<title>Boards</title>
<div class="container-fluid">
    <h1> Welcome to your TrelloClone's Boards </h1>
</div>
<% if flash[:notice] %>
  <div class="alert alert-success alert-dismissible fade show">
    <%= flash[:notice] %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
<div class="container-l" style='margin: 30px'>
    <div class="container text-center">
        <table class="table table-striped-columns table-hover">
            <tr>
                <td id="td1" style="background-color: black; color: white;"> TITLE </td>
                <td id="td1" style="background-color: black; color: white;"> DESCRIPTION </td>
                <td id="td1" style="background-color: black; color: white;"> Board Viewer </td>
            </tr>
            <% @boards.each do |board| %>
            <tr>
                <td><%= board.title %></td>
                <td><%= board.description %></td>
                <% if user_signed_in? %>
                    <td><%= link_to 'View', board_path(board), class: 'card-link btn btn-success'%></td>
                <% else %>
                    <td><%= link_to 'View', board_path(board), class: 'card-link btn btn-success'%></td>
                <% end %>
            </tr>
            <% end %>
        </table>
    <%= link_to 'Back To Homepage', root_path, class: 'btn btn-secondary' %>
    <% if user_signed_in? %>
        <%= link_to 'Board Creator', new_board_path, class: 'btn btn-primary' %>
    <% end %>
    </div>
</div>