<div class="container mt-5">
  <div class="text-center mb-4">
    <h1 class="display-4" style="font-family: 'Verdana';"><%= @board.title %></h1>
    <h2 class="lead" style="font-family: 'Verdana';"><%= @board.description %></h2>
  </div>
  <div class="row">
        <% @states.each do |state| %>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
            <div class="card-header bg-primary text-white">
                <h4 class="card-title" style="font-family: Verdana;"> <%= state.name %> </h4>
                <a href="<%= new_task_path(state_id: state.id) %>" class="btn btn-light btn-block">Add Task</a>
            </div>
            <div class="card-body">
                <div class="container">
                <% state.tasks.each do |task| %>
                    <div class="row mb-2">
                    <div class="col">
                        <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><%= task.title %></h5>
                            <p class="card-text"><%= task.description %></p>
                            <a href="<%= task_path(task) %>" class="btn btn-primary btn-block">View Task</a>
                        </div>
                        </div>
                    </div>
                    </div>
                <% end %>
                </div>
            </div>
            </div>
        </div>
        <% end %>
  </div>
  <div class="text-center mt-4">
    <%= link_to 'Back to Boards', boards_path, class: 'btn btn-warning mx-2' %>
    <%= link_to 'Edit Board', edit_board_path(@board), class: 'btn btn-primary mx-2' %>
    <%= link_to 'Destroy Board', @board, method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger mx-2' %>

  </div>
</div>

<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-light">
      <h4 class="mb-0">Create a New State for this Board</h4>
    </div>
    <div class="card-body">
      <%= link_to 'State Creator', new_state_path(board_id: @board.id), class: 'btn btn-light' %>
    </div>
  </div>
</div>
