<!DOCTYPE html>
<html>
  <head>
    <title>TrelloClone.com</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <style>
    body {
      background-image: url('<%= asset_path('IMG_0088.jpg') %>');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin: 0;
      padding: 0;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }
    .content {
      flex: 1;
    }
    .footer {
      flex-shrink: 0;
    }
    </style>
    </head>
    
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="navbar-brand" href="http://127.0.0.1:3000/Home"><span class="sr-only"> <strong>[HomePage]</strong></span></a>
            </li>
            <li class="nav-item">
              <a class="navbar-brand" href="http://127.0.0.1:3000/boards"><span class="sr-only"> <strong>[Boards]</strong></span></a>
            </li>
            <li class="nav-item">
              <a class="navbar-brand" href="http://127.0.0.1:3000/states"><span class="sr-only"> <strong>[States]</strong></span></a>
            </li>
            <li class="nav-item">
              <a class="navbar-brand" href="http://127.0.0.1:3000/tasks"><span class="sr-only"> <strong>[Tasks]</strong></span></a>
            </li>
        </div>
      </nav>
    <%= yield %>
  </body>
</html>
