<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header bg-success text-white">
                <h1 class="card-title">Add Users to: "<%= @board.title %>"</h1>
                <%= form_with(model: @user_to_board) do |f| %>
                    <%= hidden_field_tag :board_id, @board.id %>
                    <div class="form-group mb-3">
                        <%= f.label :user_id %>
                        <%= f.collection_select :user_id, User.where.not(id: @board.users.pluck(:id)), :id, :name, { prompt: "Select a user to add" }, { class: "form-control" } %>
                    </div>
                    <div class="actions">
                        <%= f.submit "Submit", class: "btn btn-primary" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>    
</div>
