<div class="container-l" style='margin: 30px'>
    <%= form_with(model: state) do |f| %>
        <div class="form-group mb-3">
            <%= f.label :name %>
            <%= f.text_area :name, class: "form-control", required: true %>
        </div>

        <% if @board.present? %>
            <%= f.hidden_field :board_id, value: @board.id%>
        <% else %>
            <div class="form-group mb-3">
                <%= f.label :board_id %>
                <% boards = []%>
                <% UserToBoard.all.each do |usertoboard| %>
                    <% if current_user.id == usertoboard.user_id %>
                        <% unless boards.include?(usertoboard.board_id) %>
                            <% boards << Board.find(usertoboard.board_id) %>
                        <% end %>
                    <% end %>
                <% end %>
                <%= f.collection_select :board_id, boards, :id, :title, {prompt: "Select a board"}, {class: "form-control"} %>
                </div>
        <% end %>
        <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
</div>
