<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h1 class="card-title">Board Title: <%= @state.board.title %></h1>
    </div>
    <div class="card-body">
      <h2 class="card-subtitle mb-2 text-muted">State Name: <%= @state.name %></h2>
      <%= link_to 'Back to States', states_path, class: 'btn btn-warning mt-3' %>

      <% boolean = 0 %>
      <% @all_board.each do |board| %>
        <% if current_user.id == board.user_id %>
          <% boolean = 1 %>
          <% break %>
        <% end %>
      <% end %>
      <% if boolean == 1 %>
        <%= link_to 'State Editor', edit_state_path, class: 'btn btn-primary mt-3' %>
        <%= link_to 'Destroy State', @state, method: :delete, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger mt-3' %>
        <%= link_to 'Create Tasks', new_task_path(state_id: @state.id), class: 'btn btn-success mt-3' %>
      <% else %>
        <div class="card-body d-flex justify-content-center align-items-center centered-message">
          <p><strong>You are not authorized to delete or edit this state</strong></p>
        </div>
      <% end %>
    </div>
      <%= link_to 'Back to Board', board_path(@state.board), class: 'btn btn-light mt-3' %>
  </div>
</div>
