<div class="container mt-3">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h1 class="card-title">User Name: <%= @user.name %></h1>
    </div>
    <div class="card-body">
      <h2 class="card-title">User E-mail: <%= @user.email %></h2>

      <div class="mt-4">
        <h3>Boards</h3>
        <ul class="list-group">
          <% @boards.each do |board| %>
            <li class="list-group-item">
              <strong><%= link_to board.title, board_path(board) %></strong>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="mt-4">
        <h3>Tasks</h3>
        <ul class="list-group">
          <% @tasks.each do |task| %>
            <li class="list-group-item">
              <strong><%= link_to task.title, task_path(task) %></strong> - <%= task.description %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <% if current_user == @user %>
      <%= link_to 'Destroy User', @user, method: :delete, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger mt-3' %>
      <%= link_to 'Edit User', edit_user_registration_path, class: 'btn btn-info mt-3' %>
    <% else %>
      <div class="alert alert-primary alert-dismissible fade show" role="alert">
        View Only (not authorized to delete or edit this user)
      </div>
    <% end %>
  </div>
</div>
